<div class="row">
<% Plan.membership_bases.each do |membership_base| %>
  <section class="6u 12u(narrower) feature">
    <div class="plan">
    <h3><%= membership_base[:name] %></h3>
    <h3>$<%= membership_base[:cost_in_dollars_per_year] %> in 2017</h3>
    <%= link_to image_tag(membership_base[:image]), new_donation_path(:plan_id => membership_base[:id]), :class=>'img' %>
    <p><%= gift_text membership_base[:gift] %></p>
    <p><%= membership_base[:benefits] %></p>
    <%= link_to "Join Now as a<br/>#{membership_base[:name]}!".html_safe, new_donation_path(:plan_id => membership_base[:id]), :class => "button cta" %>
    <br/>
    <%#= link_to "Or pay monthly at #{number_to_currency membership_base[:cost_in_dollars_per_year].to_f/12} / month.", new_subscription_path(:plan_id => Plan.id_for_membership_base(membership_base,'monthly')), :class => "small" %>
    </div>
  </section>
<% end %>

  <section class="6u 12u(narrower) feature">
    <div class="plan">
      <h3>Monthly Recurring Payment</h3>
      <h3>Starting at $8/month</h3>
      <p>To support Techlahoma on a continual basis you can set up a montly recurring payment.</p>
      <p>You'll still count a a Supporting Memeber and will be eligible for end of the year gifts based on your total payments during 2017.</p>
      <%= link_to "Subscribe today!", new_subscription_path, :class => "button cta" %>
    </div>
  </section>

</div>
