<h1>Multiple ways to contribute</h1>



<div class="donation-type">
  <h2>Annual Individual Memberships</h2>
  <p>
    2016 is the first time that Techlahoma is offering memberships.
    Members who join this year will be counted as Founding Members, and this will be
    the only time you can earn that badge.
  </p>
  <%= link_to "See Individual Membership Plans", plans_path, :class => "button" %>
</div>

<div class="donation-type">
  <h2>Annual Corporate Sponsorships</h2>
  <p>
    2016 is the first time that Techlahoma is offering sponsorships.
    Sponsors who join this year will be counted as Founding Sponsor, and this will be
    the only time you can earn that badge.
  </p>
  <%= link_to "See Corporate Sponsorship Opportunities", '#', :class => "button" %>
</div>

<div class="donation-type">
  <h2>Facility Sponsorship</h2>
  <p>
    Facility sponsorships allow individuals and corporations to earn
    recognition or naming rights in the new facility.
  </p>
  <%= link_to "See Facility Sponsorship Opportunities", '#', :class => "button" %>
</div>

<div class="donation-type">
  <h2>Co-working and Office Space</h2>
  <p>
    The new facility will offer some dedicated office space as well
    as co-working space that can be available full-time or part-time as needed.
  </p>
  <%= link_to "See Office Space and Co-working Options", '#', :class => "button" %>
</div>


<div class="donation-type">
  <h2>One-time donation</h2>
  <p>Your tax deductable donation will help to fund developer groups, educational workshops and conferences in the OKC and Tulsa metro areas.</p>
  <%= link_to "Make a one-time donation", new_donation_path, :class => "button" %>
</div>
