<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @plan %>
    <p>
      You are signing up for <strong><%= @plan[:name] %></strong>
      at <strong><%= cents_to_dollars(@plan[:cost_in_dollars_per_year] * 100) %></strong>
    </p>

    <% if @plan[:gift] %>
      <p>In return for your generous contribution you will receive the following gifts:</p>
      <p><%= @plan[:gift].join(" OR ") %></p>
    <% end %>

    <p>In return for your generous contribution you will receive the following benefits:</p>
    <p><%= @plan[:benefits] %></p>
  <% end %>

  <%= render 'subscriptions/your_info', :f => f %>

  <%= render 'subscriptions/donor_recognition', :f => f %>




  <% if plan_gets_a_gift(@plan) %>
    <fieldset>
      <legend>Donor Gift</legend>
      <div class="form-group inline">
        <%= f.radio_button(:accept_gift, true) %>
        <%= f.label(:accept_gift_true, "Yes, I'd like to receive a gift&nbsp;&nbsp;".html_safe) %>
        <%= f.radio_button(:accept_gift, false) %>
        <%= f.label(:accept_gift_false, "No, please don't send me a gift") %>
      </div>
      <div id="gift-selections">
        <%= render 'subscriptions/gift_selection', :f => f %>
      </div>
    </fieldset>

    <fieldset id="gift-delivery">
      <legend>Gift Delivery</legend>
      <p>
        We are currently planning to throw celebration parties simultaneously in OKC and in Tulsa
        sometime in early summer. Gifts will be distributed there to members who can attend.
      </p>
      <p>
        For members who cannot attend the parties, your gifts will be mailed to you after the party.
      </p>
      <%= render 'subscriptions/address', :f => f %>
    </fieldset>
  <% end %>
  <%= render 'subscriptions/billing' %>



  <fieldset>
    <legend>Your Contribution</legend>
    <% if @plan %>
      <p>
        You are signing up for <strong><%= @plan[:name] %></strong>
        at <strong><%= cents_to_dollars(@plan[:cost_in_dollars_per_year] * 100) %></strong>
      </p>

    <% else %>
      <div class="form-group">
        <%= f.label :amount, "Amount (US dollars)" %>
        <%= f.text_field :amount, :placeholder => "50.00", :class=>"text amount" %>
      </div>
    <% end %>
  </fieldset>
  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :token_id, :class=>'stripe-token-id' %>

  <div class="actions">
    <%= f.submit "Donate Now!", :class => "button submit cta" %>
  </div>
<% end %>
