<% skip_stripe = skip_stripe || false %>
<% destination = destination || @donation %>
<%= form_for(destination) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation" class="validation-error">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @plan %>
    <p>
      You are signing up for <strong><%= @plan[:name] %></strong>
      at <strong><%= cents_to_dollars(@plan[:cost_in_dollars_per_year] * 100) %></strong>
    </p>

    <% if @plan[:gift] %>
      <p>In return for your generous contribution you will receive the following gifts:</p>
      <p><%= gift_text @plan[:gift] %></p>
    <% end %>

    <p>In return for your generous contribution you will receive the following benefits:</p>
    <p><%= benefits_text @plan[:benefits] %></p>
  <% else %>
    <p>You are joining Techlahoma as a member.</p>
  <% end %>

  <%= render 'subscriptions/your_info', :f => f %>

  <%= render 'subscriptions/donor_recognition', :f => f %>

  <% if plan_gets_a_gift(@plan) %>
    <fieldset>
      <legend>Donor Gift</legend>
      <div class="form-group inline">
        <%= f.radio_button(:accept_gift, true) %>
        <%= f.label(:accept_gift_true, "Yes, I'd like to receive a gift&nbsp;&nbsp;".html_safe) %>
        <%= f.radio_button(:accept_gift, false) %>
        <%= f.label(:accept_gift_false, "No, please don't send me a gift") %>
      </div>
      <div id="gift-selections">
        <% if @plan && @plan[:image] %>
          <%= image_tag @plan[:image], :class=>'donation-gift-image' %>
        <% end %>
        <%#= render 'subscriptions/gift_selection', :f => f %>
      </div>
    </fieldset>

    <fieldset id="gift-delivery">
      <legend>Gift Delivery</legend>
      <p>At the end of the year we'll total up all of your donations and/or payments on a subscription in 2017 and that will determine your membership level.</p>
      <p>Then, if you've donated $64 or more we'll send you a secret code that you can redeem in our members-only store for your gift(s).</p>
      <p>Your code will cover the entire cost of the suggested gifts for your membership level, but you can choose any gift(s) you'd like. You can also purchase additional items.</p>
      <p>We certainly welcome donations less than $64, and we'll still send you a nice thank you note, and maybe a sticker or something. :)</p>
      <%#= render 'subscriptions/address', :f => f %>
    </fieldset>
  <% end %>

  <% unless skip_stripe %>
    <%= render 'subscriptions/billing' %>
  <% else %>
    <fieldset>
      <legend>You are entering a non-Stripe donation</legend>
      <p>You are currently using the admin interface that's designed to allow donations to be recorded that are not processed via credit card.</p>
      <p>If you need to enter a donation AND charge a card, just go through the normal donation form on the front end.</p>
    </fieldset>
  <% end %>


  <fieldset>
    <legend>Your Contribution</legend>
    <% if @plan %>
      <p>
        You are signing up for <strong><%= @plan[:name] %></strong>
        at <strong><%= cents_to_dollars(@plan[:cost_in_dollars_per_year] * 100) %></strong>
        <%= f.hidden_field :amount, :value => (@plan[:cost_in_dollars_per_year] * 100), :placeholder => "50.00", :class=>"text amount" %>
      </p>
    <% else %>
      <%= select_tag :amount_select, options_for_donation_select, prompt: 'Please select an amount' %>
      <div class="form-group" style="display:none;" id="amount_input">
        <%= f.label :amount, "Please enter an amount (US dollars, $10 minimum)" %>
        <%= f.text_field :amount, :placeholder => "50.00", :class=>"text amount" %>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Your Thoughts</legend>
    <p>
      Is there anything else you'd like to tell us?
    </p>
    <div class="form-group">
      <%= f.text_area :notes, :placeholder => "What's on your mind?", :class=>"text" %>
    </div>
  </fieldset>

  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :token_id, :class=>'stripe-token-id' %>

  <div class="validation-error" style="display:none;">
    Please correct the errors above.
  </div>

  <div class="actions">
    <%= f.submit "Donate Now!", :class => "button submit cta" %>
  </div>
<% end %>
