

<div class="row">
  <section class="6u 12u(narrower) members">
    <h1>Our Members</h1>
    <% Plan.membership_bases.reverse.each do |membership_base| %>
      <div class="<%= membership_base[:id] %>">
        <div class="title"><%= membership_base[:name] %>s</div>
        <ul>
          <% @donations.where(:plan_id => membership_base[:id]).each do |donation| %>
            <li><%= donation.donor_name %></li>
          <% end %>
          <li><%= link_to "Add your name here!".html_safe, new_donation_path(:plan_id => membership_base[:id]) %></li>
        </ul>
      </div>
    <% end %>
  </section>
  <section class="6u 12u(narrower) sponsors">
    <h1>Our Sponsors</h1>
    <% Plan.sponsor_bases.reverse.each do |membership_base| %>
      <div class="<%= membership_base[:id] %>">
        <div class="title"><%= membership_base[:name] %>s</div>
        <ul>
          <% @donations.where(:plan_id => membership_base[:id]).each do |donation| %>
            <li><%= donation.donor_name %></li>
          <% end %>
          <li><%= link_to "Add your name here!".html_safe, new_donation_path(:plan_id => membership_base[:id]) %></li>
        </ul>
      </div>
    <% end %>
  </section>
</div>

<div class="true-believers">
  <h2>True Believers</h2>
  <p>
    These individuals were among the very first financial supporters of Techlahoma.
    They donated before any official membership or sponsorship programs existed.
  </p>
  <ul class="row">
    <% @donations.true_believers.map(&:donor_name).uniq.each do |donor_name| %>
      <li class="3u 6u(narrower)"><%= donor_name %></li>
    <% end %>
  </ul>
</div>



