<%= form_for(@sponsorship) do |f| %>
  <% if @sponsorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsorship.errors.count, "error") %> prohibited this sponsorship from being saved:</h2>

      <ul>
      <% @sponsorship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>You are signing up for <strong><%= @plan[:name] %></strong> at <strong><%= cents_to_dollars(@plan[:cost_in_dollars_per_year] * 100) %></strong></p>

  <p>In return for your generous contribution you will receive:</p>

  <p><%= @plan[:benefits] %></p>

  <%= render 'subscriptions/your_info', :f => f %>

  <%= render 'subscriptions/donor_recognition', :f => f %>

  <%= render 'subscriptions/billing' %>

  <%= f.hidden_field :token_id %>
  <%= f.hidden_field :plan_id %>

  <div class="actions">
    <%= f.submit "Sponsor Now!", :class => "button submit cta" %>
  </div>
<% end %>
