<p id="notice"><%= notice %></p>

<h1>Listing Sponsorships</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Guid</th>
      <th>Token</th>
      <th>Stripe</th>
      <th>Stripe status</th>
      <th>Stripe response</th>
      <th>Plan data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorships.each do |sponsorship| %>
      <tr>
        <td><%= sponsorship.email %></td>
        <td><%= sponsorship.name %></td>
        <td><%= sponsorship.amount %></td>
        <td><%= sponsorship.guid %></td>
        <td><%= sponsorship.token_id %></td>
        <td><%= sponsorship.stripe_id %></td>
        <td><%= sponsorship.stripe_status %></td>
        <td><%= sponsorship.stripe_response %></td>
        <td><%= sponsorship.plan_data %></td>
        <td><%= link_to 'Show', sponsorship %></td>
        <td><%= link_to 'Edit', edit_sponsorship_path(sponsorship) %></td>
        <td><%= link_to 'Destroy', sponsorship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponsorship', new_sponsorship_path %>
