<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @sponsorship.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sponsorship.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sponsorship.amount %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @sponsorship.guid %>
</p>

<p>
  <strong>Token:</strong>
  <%= @sponsorship.token_id %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @sponsorship.stripe_id %>
</p>

<p>
  <strong>Stripe status:</strong>
  <%= @sponsorship.stripe_status %>
</p>

<p>
  <strong>Stripe response:</strong>
  <%= @sponsorship.stripe_response %>
</p>

<p>
  <strong>Plan data:</strong>
  <%= @sponsorship.plan_data %>
</p>

<%= link_to 'Edit', edit_sponsorship_path(@sponsorship) %> |
<%= link_to 'Back', sponsorships_path %>
