<fieldset>
    <legend>Donor Gift</legend>
    <div class="form-group inline">
      <%= f.radio_button(:accept_gift, true) %>
      <%= f.label(:accept_gift_true, "Yes, I'd like to receive a gift&nbsp;&nbsp;".html_safe) %>
      <%= f.radio_button(:accept_gift, false) %>
      <%= f.label(:accept_gift_false, "No, please don't send me a gift") %>
    </div>
    <div id="gift-selections">
      <%= render 'subscriptions/gift_selection', :f => f %>
    </div>
  </fieldset>

  <fieldset id="gift-delivery">
    <legend>Gift Delivery</legend>
    <p>
      We are currently planning to throw celebration parties simultaneously in OKC and in Tulsa
      sometime in early summer. Gifts will be distributed there to members who can attend.
    </p>
    <p>
      For members who cannot attend the parties, your gifts will be mailed to you after the party.
    </p>
    <%= render 'subscriptions/address', :f => f %>
  </fieldset>
