<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>In return for your generous contribution you will receive a surprise gift at the end of the year.</p>

  <p><%= @plan[:benefits] %></p>

  <%= render 'subscriptions/your_info', :f => f %>

  <%= render 'subscriptions/donor_recognition', :f => f %>

  <%= render 'subscriptions/billing' %>

  <fieldset>
    <legend>Your Subscription</legend>
    <%= f.select :stripe_plan_id, options_for_subscription_select, prompt: 'Please select an amount' %>
  </fieldset>

  <fieldset>
    <legend>Your Thoughts</legend>
    <p>
      Is there anything else you'd like to tell us?
    </p>
    <div class="form-group">
      <%= f.text_area :notes, :placeholder => "What's on your mind?", :class=>"text" %>
    </div>
  </fieldset>


  <%= f.hidden_field :token_id, :class=>'stripe-token-id' %>
  <%= f.hidden_field :amount %>
  <br/>
  <div class="actions">
    <%= f.submit "Join Now!", :class => "button submit cta" %>
  </div>
<% end %>
