<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>You are signing up for <strong><%= @plan[:name] %></strong> at <strong><%= cents_to_dollars(@plan[:cost_in_dollars] * 100) %> per <%= @plan[:interval] %></strong></p>

  <p>In return for your generous contribution you will receive:</p>

  <p><%= @plan[:benefits] %></p>


  <fieldset>
    <legend>Your Info</legend>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :placeholder => "you@yourdomain.com", :class=>"text email" %>
    </div>
  </fieldset>


  <fieldset>
    <legend>Donor Recognition</legend>

    <div class="form-group">
      <%= f.label :name do %>Please enter the name that you'd like to appear on our donations page.  Leave this blank if you'd rather be all mysterious.<% end %>
      <%= f.text_field :name, :placeholder => "An Anonymous Donor", :class=>"text" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Donor Gift</legend>
    <div class="form-group inline">
      <%= f.radio_button(:accept_gift, true) %>
      <%= f.label(:accept_gift_true, "Yes, I'd like to receive a gift&nbsp;&nbsp;".html_safe) %>
      <%= f.radio_button(:accept_gift, false) %>
      <%= f.label(:accept_gift_false, "No, please don't send me a gift") %>
    </div>
    <div id="gift-selections">
      <%= render 'subscriptions/gift_selection', :f => f %>
    </div>
  </fieldset>

 
  <fieldset>
    <legend>Payment Information</legend>
    <%= render 'subscriptions/billing' %>
  </fieldset>

  <fieldset>
    <legend>Mailing Address</legend>
    <%= render 'subscriptions/address', :f => f %>
  </fieldset>

  <%= f.hidden_field :token_id %>
  <%= f.hidden_field :amount %>
  <%= f.hidden_field :stripe_plan_id %>
  <%= f.hidden_field :email %>
  <br/>
  <div class="actions">
    <%= f.submit "Join Now!", :class => "button submit" %>
  </div>
<% end %>
