<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>You are signing up for <strong><%= @plan[:name] %></strong> at <strong><%= cents_to_dollars(@plan[:cost_in_dollars] * 100) %> per <%= @plan[:interval] %></strong></p>

  <p>In return for your generous contribution you will receive a surprise gift at the end of the year.</p>

  <p><%= @plan[:benefits] %></p>

  <%= render 'subscriptions/your_info', :f => f %>

  <%= render 'subscriptions/donor_recognition', :f => f %>

  <%= render 'subscriptions/billing' %>


  <%= f.hidden_field :token_id, :class=>'stripe-token-id' %>
  <%= f.hidden_field :amount %>
  <%= f.hidden_field :stripe_plan_id %>
  <br/>
  <div class="actions">
    <%= f.submit "Join Now!", :class => "button submit cta" %>
  </div>
<% end %>
