<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @subscription.email %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @subscription.plan %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @subscription.amount %>
</p>

<%= link_to 'Back', subscriptions_path %>
