<p>These values directly mirror the Stripe Plan attributes.</p>
<p><a href="https://stripe.com/docs/api#plans">See the Stripe docs for clarification.</a></p>
<p><b>Note:</b> All of these values other than 'Name' are read-only after a plan has been created.</p>
<%= form_for([:admin,@plan]) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount, "Amount (In pennies)" %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :interval %><br>
    <%= f.select :interval, Plan::INTERVALS %>
  </div>
  <div class="field">
    <%= f.label :interval_count, "Interval Count" %><br>
    <%= f.number_field :interval_count %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :stripe_id, "Stripe ID"%><br>
    <%= f.text_field :stripe_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
