<h1>Listing plans</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Interval</th>
      <th>Name</th>
      <th>Stripe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.amount %></td>
        <td><%= plan.interval %></td>
        <td><%= plan.name %></td>
        <td><%= plan.stripe_id %></td>
        <td><%= link_to 'Show', [:admin,plan] %></td>
        <td><%= link_to 'Edit', edit_admin_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', [:admin,plan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_admin_plan_path %>
