<%= form_for(@donation_roll_up) do |f| %>
  <% if @donation_roll_up.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation_roll_up.errors.count, "error") %> prohibited this donation_roll_up from being saved:</h2>

      <ul>
      <% @donation_roll_up.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
