<p id="notice"><%= notice %></p>

<h1>Listing Donation Roll Ups</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Amount</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donation_roll_ups.each do |donation_roll_up| %>
      <tr>
        <td><%= donation_roll_up.email %></td>
        <td><%= donation_roll_up.amount %></td>
        <td><%= donation_roll_up.start_time %></td>
        <td><%= donation_roll_up.end_time %></td>
        <td><%= link_to 'Show', donation_roll_up %></td>
        <td><%= link_to 'Edit', edit_donation_roll_up_path(donation_roll_up) %></td>
        <td><%= link_to 'Destroy', donation_roll_up, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation roll up', new_donation_roll_up_path %>
