<p id="notice"><%= notice %></p>

<h1>Listing Donation Roll Ups</h1>

<%= link_to "Download a CSV of all donation roll ups", csv_admin_donation_roll_ups_path %>
<br/>
<br/>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Total Donated</th>
      <th>Membership Tier</th>
      <th>Coupon Code</th>
      <th>Coupon Amount</th>
      <th>Coupon ID</th>
      <th>Period</th>
    </tr>
  </thead>

  <tbody>
    <% @donation_roll_ups.each do |donation_roll_up| %>
      <tr>
        <td><%= link_to donation_roll_up.email, [:admin, donation_roll_up] %></td>
        <td>$<%= donation_roll_up.amount.to_i %></td>
        <td><%= donation_roll_up.plan_name %> ($<%= donation_roll_up.plan_cost_in_dollars_per_year.to_i %>)</td>
        <td><%= donation_roll_up.ecwid_discount_coupon_code_for_display %></td>
        <td>$<%= donation_roll_up.ecwid_discount_coupon_amount.to_i %></td>
        <td><%= donation_roll_up.ecwid_discount_coupon_id %></td>
        <td>
          <%= donation_roll_up.start_time.to_date.to_s(:long) %> -
          <%= donation_roll_up.end_time.to_date.to_s(:long) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


