<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @donation_roll_up.email %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @donation_roll_up.amount %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @donation_roll_up.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @donation_roll_up.end_time %>
</p>

<%= link_to 'Back', admin_donation_roll_ups_path %>
