<!DOCTYPE html>
<html>
<head>
  <title>TechlahomaDonations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="body-wrap">
  <div class="body-wrap-inner">
    <h3 style="color:red;">Note : This site is currently in testing. Donations are not actually taken, they post to a test Stripe account.</h3>
    <p>
      <%= link_to "See the Stripe testing docs for test CC numbers to use.", "https://stripe.com/docs/testing" %>
      <br/>
      Or just use <code>4242 4242 4242 4242</code>.
    </p>
    <%= image_tag 'techlahoma_logo.png' %>
    <%= yield %>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
